<div class="container app-content">
    <div class="text-center shop"><img src="{{ formIcon }}"></div>
    <form [formGroup]="addLocationForm">
        <nibbler-field-control-component [control]="addLocationForm.controls['name']" placeholder="Location Name" name="locationName">
        </nibbler-field-control-component>
        <nibbler-field-control-component [control]="addLocationForm.controls['address']" placeholder="Address" name="address">
        </nibbler-field-control-component>
        <nibbler-location-hours-component [timesArray]="timesArray" [timesObject]="timesObject"></nibbler-location-hours-component>
        <button class="col btn submit-btn" [disabled]="!addLocationForm.valid" (click)="getAddressCoordinates()">Submit</button>
    </form>
</div>
<nibbler-dialog-component></nibbler-dialog-component>
