<div class="row review-form">
    <form [formGroup]="reviewForm" id="revform" action="">
        <div class="row form-row">
            <div class="col-md-2">Title</div>
            <input class="col-md-10" id="reviewTitle" type="text" name="reviewTitle" 
                    [formControl]="reviewForm.controls['title']">
        </div>
        <div *ngIf="reviewForm.controls['title'].hasError('required') 
                        && reviewForm.controls['title'].touched"
                class="row form-row alert alert-danger">You must include a title.
        </div>
        <div class="row form-row">
            <div class="col-md-2">Rating</div>
            <div class="col-md-offset-2">
                <select [formControl]="reviewForm.controls['rating']" name="reviewRating" class="dropdown-rating-menu">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-2">Review</div>
            <textarea class="col-md-10" type="text" id="reviewText"
            name="reviewText" [formControl]="reviewForm.controls['review']"></textarea>
        </div>
        <div class="row form-row alert alert-danger" 
            *ngIf="reviewForm.controls['review'].hasError('required') 
            && reviewForm.controls['review'].touched">You must include a review.
        </div>
        <div class="row form-row">
            <input class="btn btn-primary pull-right" type="submit" 
            value="Add my review" [disabled]="!reviewForm.valid" (click)="submitReview()" data-dismiss="modal">
        </div>
    </form>
</div>