<div class="row review-form">
    <form [formGroup]="reviewForm" id="reviewForm" action="">
        <div class="row form-row">
            <div>Title</div>
            <input class="row" id="reviewTitle" type="text" name="reviewTitle" 
                    [formControl]="reviewForm.controls['title']">
        </div>
        <div *ngIf="reviewForm.controls['title'].hasError('required') 
                        && reviewForm.controls['title'].touched"
                class="row form-row alert alert-danger">You must include a title.
        </div>
        <div class="row form-row">
            <div>Rating</div>
            <select [formControl]="reviewForm.controls['rating']" name="reviewRating" class="offset-1 col-9 dropdown-rating-menu">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
        <div class="form-row">
            <div>Review</div>
            <textarea class="row" type="text" id="reviewText"
            name="reviewText" [formControl]="reviewForm.controls['review']"></textarea>
        </div>
        <div class="row form-row alert alert-danger" 
            *ngIf="reviewForm.controls['review'].hasError('required') 
            && reviewForm.controls['review'].touched">You must include a review.
        </div>
        <div class="form-row">What option(s) did you have?</div>
        <nibbler-diet-options-component class="review-options" [controls]="reviewForm.controls"></nibbler-diet-options-component>
        <div class="row form-row">
            <input class="btn btn-primary form-control" type="submit" value="Add my review"
            [disabled]="!reviewForm.valid || !reviewForm.get('gluten-free').errors.selected &&
                !reviewForm.get('vegan').errors.selected && !reviewForm.get('vegetarian').errors.selected &&
                !reviewForm.get('soy-free').errors.selected && !reviewForm.get('nut-free').errors.selected" (click)="submitReview()">
        </div>
    </form>
</div>