<div class="container app-content" *ngIf="location">
    <div class="row location-name">
        <h2>{{ location.name }}</h2>
    </div>
    <div class="row location-details">
        <p class="suggestion" *ngIf="location.reviews.length === 0">This location needs your review!</p>
        <span *ngIf="location.reviews.length > 0" [innerHTML]="starRating(location.rating)"></span>
    </div>
    <div class="row location-details">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row location-hours">
                <div class="card">
                    <div class="card-header location-panel">
                        Location Hours
                    </div>
                    <div class="card-body">
                        <div *ngFor="let times of location.openingTimes">
                            <p>{{times.day}} {{times.opening}} - {{times.closing}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row location-options">
                <div class="card">
                    <div class="card-header location-panel">
                        Dietary Options
                    </div>
                    <div class="card-body">
                        <nibbler-option-tags [options]="location.options"></nibbler-option-tags>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <img id="map" src="{{map}}" />
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">Add Review</button>
    </div>
    <div class="row location-details">
        <div class="card">
            <h4 class="card-header location-panel">
                Customer Reviews
            </h4>
            <div class="card-body">
                <div *ngFor="let review of location.reviews">
                    <span [innerHTML]="starRating(review.rating)"></span>
                    <div class="reviewTitle">{{ review.title }}</div>
                    <p>By <a routerLink="/profile/{{review.author}}">{{ review.author }}</a> on
                    <span [innerHTML]="formatDate(review.createdOn)"></span></p>
                    <p>{{ review.reviewText }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="reviewModal" class="modal fade" role="dialog">
        <div class="modal-dialog" *ngIf='isLoggedIn'>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Review {{ location.name }}</h4>
                </div>
                <div class="modal-body">
                    <nibbler-location-review-form [location]="location"></nibbler-location-review-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <div class="modal-dialog" *ngIf='!isLoggedIn'>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Review {{ location.name }}</h4>
                </div>
                <div class="modal-body">
                    You must be logged in to add a review. Log in or register now!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>