<div class="panel panel-default">
    <div class="panel-body">
        <div class="row locations-list" *ngFor='let location of locations'>
            <div class="col-sm-6 col-md-6">
                <p class="location-name">
                    <a [routerLink]="['/locations/', location._id]">{{ location.name }}</a>
                </p>
                <p>{{ location.address }}</p>
                <span [innerHTML]="starRating(location.rating)"></span>
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="label label-warning" *ngIf="location.options.gluten_free">Gluten-free</span>
                <span class="label label-primary" *ngIf="location.options.vegan">Vegan</span>
                <span class="label label-success" *ngIf="location.options.vegetarian">Vegetarian</span>
                <span class="label label-danger" *ngIf="location.options.soy_free">Soy-free</span>
                <span class="label label-info" *ngIf="location.options.nut_free">Nut-free</span>
            </div>
        </div>
    </div>
</div>