$blueColor: #007bff;
$submitBtnColor: #ec6f74;

.app-content {
    padding-top: 40px;
}

.btn {
    margin: 20px 0; 
}

.submit-btn {
    background-color: $submitBtnColor;
    color: white;
}

.time-btn {
    background-color: #2FA599;
    color: white;
}

/****** Navigation Bar ******/
.navbar {
    background-color: #ed2636;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#logo {
    color: white;
    font-size: 35px;
    font-family: 'Pacifico', sans-serif;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #f73845;
  color: #fff;
}

/****** Footer ******/
footer {
    padding: 20px 0;
}

footer img {
    width: 35px;
}

/****** Home Page ******/
#banner{
    max-height: 600px;
    max-width: 100%;
    position: relative;
    background-color: #cfe8fc;
}

.welcome-page {
    text-align: center;
    height: 300px;
}

.welcome-page > img {
    width: 80px;
    padding: 40px 0;
}

/****** Locations List ******/
.shop img {
    width: 70px;
    padding-bottom: 20px;
}

.locations-list {
    padding: 20px;
}

.location-name {
    font-size: 20px;
}

.locations-list:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

.errorMessage {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.locations-search-bar {
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

#locations-map {
    background-color: grey;
    height: 300px;
    width: 100%;
    margin: 20px 0;
}

#add-business-btn {
    padding-top: 20px;
    color: $blueColor;
    cursor: pointer;
}

.form-check-inline {
    margin-right: 1.75rem;
}

.badge-warning {
    color: floralwhite;
}

.filter-label {
    padding-left: 20px;
}

/***** Review Form *****/
#reviewForm {
    width: 100%;
}

#reviewText {
    height: 150px;
    resize: vertical;
    width: 100%;
    margin: auto;
}

.form-row {
    padding-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.dropdown-rating-menu {
    width: 100px;
}

#reviewTitle {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin: auto;
}

.modal-footer {
    padding: 0;
}

.alert-danger {
    text-align: center;
}

/********* Questions List ********/
.question-text {
    font-size: 13px;
    font-weight: lighter;
    margin-left: -15px;
}

.post-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.post-body, .answers-body, .answers-header {
    margin-left: 15px;
}

.answers-header {
    margin-top: 20px;
}

.answers-body {
    margin-top: 40px;
}

.post-body, .post-metadata {
    margin-top: 20px;
}

.reply-karma-btns {
    margin-top: -15px;
}

.post-votes {
    font-size: 30px;
    font-weight: lighter;
    line-height: 2.5;
}

.vote, .post-fav {
    font-size: 25px;
    color: #ec6f74;
    margin: 10px 0;
}

/***** Login Page  *****/
#createAccountButton {
    color: $blueColor;
    cursor: pointer;
}

.user-icon, .signup-link {
    padding: 10px;
}

form {
    padding-top: 20px;
}

.form-page {
    background-color: #EFF0F1;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.signupForm {
    width: 3000px;
}

.signupFormPageOne, .signupFormPageTwo {
    float: left;
    width: 950px;
    padding: 0 100px;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 950px;
    }
}

@media screen and (max-width: 992px) {
    /***** Signup Form *****/
    .firstname-row, .password-row {
        margin-bottom: 15px;
    }

    .signupFormPageOne, .signupFormPageTwo {
        width: 750px;
    }

    /****** Questions List *****/
    .main-question {
        padding-left: 40px;
    }
}

@media screen and (max-width: 414px) {
    .signupFormPageOne, .signupFormPageTwo {
        width: 400px;
    }
}