<div class="container app-content">
    <div class="row form-page">
        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <form method="post" [formGroup]="loginForm">
                <h1 class="text-center">Login</h1>
                <div class="text-center user-icon">
                    <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    <input type="username" class="form-control" name="username"
                        [formControl]="loginForm.controls['username']" placeholder="Username"/>
                    <div *ngIf="loginForm.controls['username'].hasError('required')
                        && loginForm.controls['username'].touched"
                        class="alert alert-danger">Username required</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password"
                        [formControl]="loginForm.controls['password']" placeholder="Password"/>
                    <div *ngIf="loginForm.controls['password'].hasError('required')
                        && loginForm.controls['password'].touched"
                        class="alert alert-danger">Password required</div>
                </div>
                <button type="submit" class="btn btn-success col-xs-12 col-sm-12"
                [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
            </form>
        </div>
        <div class="signup-link col-sm-6 offset-sm-3 col-xs-12 text-center">
            <a (click)="rerouteGuest()" id="createAccountButton">Create an account</a>
        </div>
    </div>
</div>