body {
    padding-top: 100px;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 950px;
    }
}

/****** Navigation Bar ******/
.navbar {
    background-color: #ed2636;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#logo {
    color: white;
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
}


/****** Footer ******/
footer p {
    text-align: center;
}

/****** Locations List ******/
.locations-list {
    padding: 20px;
}

.location-name {
    font-size: 18px;
}

.locations-list:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

.locations-msg {
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/***** Review Form *****/
.review-text {
    height: 150px;
}

.form-row {
    padding-bottom: 20px;
}

.dropdown-rating-menu {
    width: 100px;
}