<% layout('layout') %>
<div class="row location-name">
    <% if (error === "val") { %>
        <div class="alert alert-danger">All fields required. Please try again.</div>
    <% } %>
    <h2>Review <%= location.name %></h2>
</div>
<div class="row review-form">
    <form id="revform" action="" method="post">
        <div class="row form-row">
            <div class="col-md-2">Title</div>
            <input class="col-md-10" type="text" name="reviewTitle">
        </div>
        <div class="row form-row">
            <div class="col-md-2">Rating</div>
            <div class="col-md-offset-2">
                <select name="reviewRating" class="dropdown-rating-menu">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-2">Review</div>
            <textarea class="col-md-10 review-text" type="text" name="reviewText"></textarea>
        </div>
        <div class="row form-row">
            <input class="btn btn-primary pull-right" type="submit" value="Add my review">
        </div>
    </form>
</div>