<div class="container app-content">
    <div class="text-center shop"><img src="{{ formIcon }}"></div>
    <div class="col-12 review-form">
        <form [formGroup]="addQuestionForm" id="addQuestionForm" action="">
            <nibbler-field-control-component
                [control]="addQuestionForm.controls['title']" placeholder="Title" name="questionTitle" type="text">
            </nibbler-field-control-component>
            <nibbler-field-control-component
                [control]="addQuestionForm.controls['question']" placeholder="Question" textarea="true" name="question">
            </nibbler-field-control-component>
            <div class="text-center">
                Optional: select tags to help users find your question. Simply click and drag to the box below.
            </div>
            <div class="form-group defined-tags" [dragula]='"bag-one"' [dragulaModel]="tags">
                <span *ngFor="let tag of tags" class="tags badge badge-pill badge-primary" [innerHTML]='tag'></span>
            </div>
            <div class="form-group user-defined-tags" [dragula]='"bag-one"' [dragulaModel]="userDefinedTags">
                <span *ngFor="let tag of userDefinedTags" class="tags badge badge-pill badge-primary" [innerHTML]='tag'></span>
            </div>
            <div class="row form-row">
                <input class="btn btn-primary" type="submit" 
                value="Add my question" [disabled]="!addQuestionForm.valid" (click)="submitQuestion()">
            </div>
        </form>
    </div>
</div>