<div class="container app-content">
    <div class="text-center shop"><img src="{{ formIcon }}"></div>
    <div class="col-12 review-form">
        <form [formGroup]="addQuestionForm" id="addQuestionForm" action="">
            <div class="row form-row">
                <input id="questionTitle" type="text" name="questionTitle" class="form-element" 
                        placeholder="Title" [formControl]="addQuestionForm.controls['title']">
            </div>
            <div *ngIf="addQuestionForm.controls['title'].hasError('required') 
                            && addQuestionForm.controls['title'].touched"
                    class="row form-row alert alert-danger">You must include a title.
            </div>
            <div class="form-row">
                <textarea class="form-element" type="text" id="questionText" placeholder="Question..."
                name="questionText" [formControl]="addQuestionForm.controls['question']"></textarea>
            </div>
            <div class="row form-row alert alert-danger" 
                *ngIf="addQuestionForm.controls['question'].hasError('required') 
                && addQuestionForm.controls['question'].touched">You must include a question.
            </div>
            <div class="text-center">
                Optional: select tags to help users find your question. Simply click and drag to the box below.
            </div>
            <div class="form-group defined-tags" [dragula]='"bag-one"' [dragulaModel]="tags">
                <span *ngFor="let tag of tags" class="tags badge badge-pill badge-primary" [innerHTML]='tag'></span>
            </div>
            <div class="form-group user-defined-tags" [dragula]='"bag-one"' [dragulaModel]="userDefinedTags">
                <span *ngFor="let tag of userDefinedTags" class="tags badge badge-pill badge-primary" [innerHTML]='tag'></span>
            </div>
            <div class="row form-row">
                <input class="btn btn-primary" type="submit" 
                value="Add my question" [disabled]="!addQuestionForm.valid" (click)="submitQuestion()">
            </div>
        </form>
    </div>
</div>