<div class="container app-content" *ngIf="question">
    <div class="row post-header">
        <h2 class="col-11">{{ question.title }}</h2>
        <div *ngIf="isFavorited" class="row post-fav" (click)="toggleFavorite()"><i class="fas fa-heart"></i></div>
        <div *ngIf="!isFavorited" class="row post-fav" (click)="toggleFavorite()"><i class="far fa-heart"></i></div>
    </div>
    <div class="post-body">
        <div class="row">
            <div class="col-1">
                <div *ngIf="!liked" class="row vote vote-like" (click)="like(question._id)">
                    <i class="far fa-arrow-alt-circle-up"></i>
                </div>
                <div *ngIf="liked" class="row vote" (click)="like(question._id)">
                    <i class="fas fa-arrow-alt-circle-up liked"></i>
                </div>
                <div *ngIf="liked" class="row post-votes liked">{{ votes }}</div>
                <div *ngIf="disliked" class="row post-votes disliked">{{ votes }}</div>
                <div *ngIf="!liked && !disliked" class="row post-votes">{{ votes }}</div>
                <div *ngIf="!disliked" class="row vote vote-dislike" (click)="unlike(question._id)">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </div>
                <div *ngIf="disliked" class="row vote" (click)="unlike(question._id)">
                    <i class="fas fa-arrow-alt-circle-down disliked"></i>
                </div>
            </div>
            <div class="col-10">{{ question.questionText }}</div>
        </div>
        <div class="row post-metadata">
            <div class="col-8">asked by <a routerLink="/profile/{{ question.author }}">{{ question.author }}</a></div>
            <div>
                <span class="tags badge badge-pill badge-primary"
                        *ngFor='let tag of question.tags'>
                    {{ tag }}
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="question.replies" class="card answers-body">
        <div class="row answers-header">
            <h4>{{ question.replies.length }} {{ question.replies.length == 1 ? 'Answer' : 'Answers' }}</h4>
        </div>
        <div class="card-body">
            <div class="row reply answers-list" *ngFor='let reply of question.replies'>
                <div *ngIf="!editing" class="col-1 reply-karma-btns">
                    <div class="row vote" (click)="toggleVote()">
                        <i class="far fa-arrow-alt-circle-up reply-vote"></i>
                    </div>
                    <div class="row vote" (click)="toggleVote()">
                        <i class="far fa-arrow-alt-circle-down reply-vote"></i>
                    </div>
                </div>
                <div class="col-10 main-reply">
                    <div *ngIf="!editing">
                        <div class="row">{{ reply.replyText }}</div>
                        <div class="row">
                            <div>{{ reply.votes }} {{ reply.votes == 1 ? 'vote' : 'votes' }} by&nbsp;<a routerLink="/profile/{{ reply.author }}">{{ reply.author }}</a></div>
                            <div class="offset-8" *ngIf="replyBelongsToUser(reply)">
                                <button class="tags badge badge-primary" (click)="toggleEditing()">Edit</button>
                                <button class="tags badge badge-primary" (click)="deleteReply(reply)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="editing">
                        <form [formGroup]="editForm">
                            <div class="form-group">
                                <label for="answerTextarea">Your response</label>
                                <textarea [formControl]="editForm.controls['editText']" class="form-control" id="answerTextarea" rows="5"></textarea>
                            </div>
                            <button class="tags badge badge-primary" (click)="toggleEditing()">Cancel</button>
                            <button [disabled]="!editForm.valid" class="tags badge badge-primary" (click)="submitEdit(reply)">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="replyForm">
        <div class="form-group">
            <label for="answerTextarea">Your response</label>
            <textarea [formControl]="replyForm.controls['replyText']" class="form-control" id="answerTextarea" rows="5"></textarea>
        </div>
        <button [disabled]="!replyForm.valid" class="btn reply-btn" (click)="submitReply()">Submit reply</button>
    </form>
</div>
