<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" routerLink="/">Nibbler</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/locations">Locations</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/login">Log In</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/profile/{{username}}">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>