<div class="container app-content">
    <div class="row form-page">
        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <form method="post" [formGroup]="loginForm">
                <h1 class="text-center">Login</h1>
                <div class="text-center user-icon">
                    <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                </div>
                <nibbler-field-control-component
                    [control]="loginForm.controls['username']"
                    placeholder="Username" name="username">
                </nibbler-field-control-component>
                <nibbler-field-control-component
                    [control]="loginForm.controls['password']"
                    placeholder="Password" name="password" type="password">
                </nibbler-field-control-component>
                <button type="submit" class="btn submit-btn col-xs-12 col-sm-12"
                [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
            </form>
        </div>
        <div class="signup-link col-sm-6 offset-sm-3 col-xs-12 text-center">
            <a (click)="rerouteGuest()" id="createAccountButton">Create an account</a>
        </div>
    </div>
</div>
<nibbler-dialog-component></nibbler-dialog-component>