<div class="container app-content">
    <div class="form-page">
        <div class="signupForm clearfix">
            <div [@firstState]="formState" class="signupFormPageOne">
                <form [formGroup]="signupFormPageOne">
                    <h1 class="text-center">Signup</h1>
                    <div class="text-center user-icon">
                        <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                    </div>
                    <nibbler-field-control-component
                        [control]="signupFormPageOne.controls['fname']" placeholder="First Name" name="firstname" hasRegex="true">
                    </nibbler-field-control-component>
                    <nibbler-field-control-component
                        [control]="signupFormPageOne.controls['lname']" placeholder="Last Name" name="lastname" hasRegex="true">
                    </nibbler-field-control-component>
                    <nibbler-field-control-component
                        [control]="signupFormPageOne.controls['uname']" placeholder="Username" name="username">
                    </nibbler-field-control-component>
                    <nibbler-field-control-component
                        [control]="signupFormPageOne.controls['email']" placeholder="Email" name="email" hasRegex="true">
                    </nibbler-field-control-component>
                    <button class="col-12 btn submit-btn" (click)="checkUserInfo()"
                    [disabled]="!signupFormPageOne.valid"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="signupFormPageTwo">
                <button class="col-2 btn submit-btn" (click)="toggleState()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <form [formGroup]="signupFormPageTwo">
                    <nibbler-field-control-component
                        [control]="signupFormPageTwo.controls['password']" placeholder="Password" name="password" type="password" hasRegex="true"
                        error="Password must contain 8 characters, one uppercase and lowercase letter, one number and one special character">
                    </nibbler-field-control-component>
                    <nibbler-field-control-component
                        [control]="signupFormPageTwo.controls['confirmation']" placeholder="Confirm Password" type="password"
                        name="confirmation" error="Passwords do not match">
                    </nibbler-field-control-component>
                    <nibbler-field-control-component
                        [control]="signupFormPageTwo.controls['zipcode']" placeholder="Zipcode" name="zipcode" hasRegex="true">
                    </nibbler-field-control-component>
                    <h2>I am...</h2>
                    <nibbler-diet-options-component [controls]="signupFormDietSelection.controls"></nibbler-diet-options-component>
                    <button class="col btn submit-btn"
                        [disabled]="!signupFormPageTwo.valid || (!signupFormDietSelection.get('gluten-free').errors.selected &&
                        !signupFormDietSelection.get('vegan').errors.selected && !signupFormDietSelection.get('vegetarian').errors.selected &&
                        !signupFormDietSelection.get('soy-free').errors.selected && !signupFormDietSelection.get('nut-free').errors.selected)"
                        (click)="collectUserData()">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>
<nibbler-dialog-component></nibbler-dialog-component>